<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            border: 2px solid blue;
        }
    </style> 
</head>
<body>
    <header>
        <a href="">Войти в учетную запись</a>
        <a href="">Зарегистрироваться</a>
        <a href="">На главную</a>
        <a href="">Новое заявление</a>
        <a href="">Выйти из учетной записи</a>
    </header>
    <div>
        <form method="post">
            Заявки
            <div>
                <input type="text" placeholder="Название банка">
            </div>
            <div class = "box"> 
                <div>
                    <input type="text" placeholder="Вид кредита">
                    <input type="text" placeholder="ПСК">
                    <input type="text" placeholder="Сумма">
                    <input type="text" placeholder="Ставка">
                    <input type="text" placeholder="Срок"> 
                </div>
            </div>
                <div>
                    <p>
                        Сумма <input type="text" >
                    </p>
                        Срок до <input type="text" >
                    <p>
                        Цель кредитования <input type="text">
                    </p>
                    <button type="submit">Изменить статус</button>
                </div> 
        </form>
    </div>
</body>
</html>