<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="">Войти в учетную запись</a>
        <a href="">Зарегистрироваться</a>
        <a href="">На главную</a>
        <a href="">Новое заявление</a>
        <a href="">Выйти из учетной записи</a>
    </header>
    <div>
        <form method="post">
            Войти в учетную запись
            <p>
                <div>
                <input type="password" placeholder="Введите логин">
                </div>
            </p>
            <p>
                <div>
                <input type="password" placeholder="Введите пароль">
                </div>
            </p>
            <div>
                <button type="submit">Войти</button>
            </div>
            <div>
                <a href="">Зарегистрироваться</a> 
                </div>
            <div>
        </form>
    </div>
</body>
</html>