<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <a href="">Войти в учетную запись</a>
        <a href="">Зарегистрироваться</a>
        <a href="">На главную</a>
        <a href="">Новое заявление</a>
        <a href="">Выйти из учетной записи</a>
    </header>
    <main>
        <div>
            <form method="post">
                Регистрация
                <p>
                <div>
                <input type="text" placeholder="Фамилия">
                </div>
                </p>
                <div>
                    <input type="text" placeholder="Имя">
                    </div>
                    <p>
                    <div>
                        <input type="text" placeholder="Отчество">
                    </div>
                </p>
                    <div>
                        <input type="text" placeholder="Номер телефона">
                        </div>
                        <p>
                        <div>
                            <input type="text" placeholder="Электронная почта">
                        </div>
                        </p>
                <p>
                <div>
                    <input type="password" placeholder="Введите пароль">
                    </div>
                </p>
                <input type="password" placeholder="Подтвердите пароль">
                    </div>
                    <p>
                    <div>
                        <button type="submit">Зарегистрироваться</button>
                    </div>
                    </p>
                    <div>
                        Уже есть аккаунт?
                    </div>
                
                    <div>
                        <a href="">Войти</a> 
                        </div>
                    <div>
            </form>
        </div>
    </main>
    <footer></footer>  
</body>
</html>